#c { background-color:#a214d5; 
position: absolute;
 left: 100px; 
top: 40px; 
width: 550px;
height:550px; }
#a {  
position: absolute;
 left: 100px; 
top: 40px; 
width: 100px;
height:1000px; }
#b{ background-color:#a2c614; 
position: absolute;
 left: 100px; 
top: 590px; 
width: 550px;
height:550px; }
